
    <section class="card-header-gradient">
        <img class="card-illustration" src="../../assets/cities/default.svg">

        <div class="header-content">
            <div class="today-content-weather">
                <div class="temp-condition-content">
                    <img class="icon-sunny" src="../../assets/icons/icon-clear.png">
                    <span class="temperature">{{temp}}°</span>
                </div>

                <span class="weather-condition">{{condition}}</span>
                
                <div class="hum-wind-content">
                    <div class="hum-content">
                      <span class="hum-text">humidity</span>
                      <span class="hum-value__text">{{hum}} %</span>
                    </div>
                    <div class="hum-wind-separator">&nbsp;</div>
                    <div class="wind-content">
                      <span class="wind-text">wind</span>
                      <span class="wind-value__text">{{wind}} K/M</span>
                    </div>
                </div>
               
            </div>
            <div class="state-name-content">
                <div class="state-name">
                  <span class="state-name-text">{{state}}</span>
                </div>
            </div>
        </div>  
    </section>
